body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 90px; /* Same height as the header */
}

.header {
  height: 90px;
  background: #001E60;
  color: white;
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
}

.header-logo {
  list-style-type: none; /* Remove bullet points from ul */
  margin: 0;
  padding-left: 15px;
}

.logo-image {
  /* max-width: 90px; */
  max-height: 90px;
}

.social-media {
  display: flex;
  gap: 0px; /* Space between social media icons */
}

.social img.icon {
  max-height: 35px; /* Adjust social media icon size */
  transition: transform 0.3s ease; /* Optional hover effect */
  padding-right: 15px;
}

.social img.icon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}



.container-call_to_action {
  background-color: #676E97; /* Sets the background color to blue */
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}


.contact {
  display: flex;                  /* Use Flexbox */
  align-items: center;           /* Center items vertically */
  text-decoration: none;         /* Optional: Remove underline from link */
  padding: 10px 25px;
}

.contact-icon {
  margin-right: 5px;           /* Space between icon and text */
  max-height: 50px; /* Adjust social media icon size */
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 15px 5px 15px;
  color: #ED9B33;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Shadow */
}

.secondary-text {
  font-size: 16px;
  padding: 10px 48px;
  color: #001E60;

}





.footer {
  height: 115px;
  background: #001E60;
  color: #ED9B33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

element.style {
  margin-top: 8px;
  margin-bottom: 0px;
}



#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  /* padding: 48px; */
  gap: 32px;
}

.container {

}

.container-quotes {
  background: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;

}

.quote-text {
  font-size: 24px;
  font-weight: bold;
  font-style:normal;
}


.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 16px;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}