body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 90px; /* Same height as the header */
}

* {
  box-sizing: border-box;
}

/* HEADER AND FOOTER */
.header {
  height: 90px;
  background: #001E60;
  color: white;
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
}

.header-logo {
  list-style-type: none; /* Remove bullet points from ul */
  margin: 0;
  padding-left: 15px;
}

.logo-image {
  /* max-width: 90px; */
  max-height: 90px;
}

.social-media {
  display: flex;
  gap: 0px; /* Space between social media icons */
}

.social img.icon {
  max-height: 35px; /* Adjust social media icon size */
  padding-right: 15px;
}

img.icon:hover, img.contact-icon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  transition: transform 0.3s ease; /* Optional hover effect */
}

.footer {
  height: 115px;
  background: #001E60;
  color: #ED9B33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* END OF HEADER AND FOOTER */

/* BODY */

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.container-call_to_action {
  background-color: #676E97; /* Sets the background color to blue */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact {
  display: flex;                  /* Use Flexbox */
  align-items: center;           /* Center items vertically */
  text-decoration: none;         /* Optional: Remove underline from link */
  padding: 10px 25px;
}

.contact-icon {
  margin-right: 5px;           /* Space between icon and text */
  max-height: 50px; /* Adjust social media icon size */
}

.header-text {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 25px 5px 25px;
  color: #ED9B33;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Shadow */
}

.secondary-text {
  font-size: 16px;
  padding: 10px 48px;
  color: #001E60;
}

.container-servicios {
  position: relative; /* Establishes positioning context for the pseudo-element */
  z-index: 1; /* Ensures the content appears above the pseudo-element */
}

.container-servicios::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('resources/drone-background.png');
  background-repeat: no-repeat;
  background-position: right 50%; /* Centers vertically, aligns to the right */
  background-size: 800px auto; /* Sets the background size */
  opacity: 0.6; /* Adjust the transparency level as needed */
  z-index: -1; /* Puts the pseudo-element behind the content */
  pointer-events: none; /* Prevents interference with content interactions */
}

/* Responsive adjustment for smaller screens */
@media (max-width: 800px) {
  .container-servicios::before {
    background-size: 415px auto; /* Adjusts size for smaller screens */
  }
}

.first-level {
  display: flex;
  flex-direction: column;
  list-style-type: none; /* Removes bullets from the first level */
  padding: 0 15px 5px 15px;            /* Removes default padding */
  margin: 0;             /* Removes default margin */
  text-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

.second-level {
  display: flex;
  flex-direction: column;
  list-style-type: disc; /* Adds bullets to the second level */
  padding-left: 20px;    /* Adds indentation for the nested bullets */
  padding-top: 5px;
}

.container-multimedia {
  position: relative; /* Establishes positioning context for the pseudo-element */
  z-index: 1; /* Ensures the content appears above the pseudo-element */
}

.container-multimedia::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('resources/contourns-background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Sets the background size */
  opacity: 0.67; /* Adjust the transparency level as needed */
  z-index: -1; /* Puts the pseudo-element behind the content */
  pointer-events: none; /* Prevents interference with content interactions */
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px 5px;
}

.video-container, .image-container {
  position: relative;
  width: 100%;        /* The container will take the full width of its parent */
  max-width: 720px;   /* Limit the maximum width to 720px */
  max-height: 720px;  /* Limit the maximum height to 720px */
  margin: 20px auto;  /* Centers the container within its parent and adds vertical spacing */
  overflow: hidden;   /* Ensures no overflow of content */
}
.video-container {
  aspect-ratio: 16 / 9; /* Maintains the 16:9 ratio */
}

.video-container iframe, .image-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes the border around the video */
}

.content-container {
  display: flex;
  flex-wrap:wrap;
}

.toggle {
  width: 244px; /* Fix button Size */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  color: white; /* Change text color to white */
  background-color: #001E60; /* Button background color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Add padding for spacing */
  text-align: center; /* Center text */
  display: inline-block; /* Allow padding and dimensions */
  font-size: 18px; /* Increase font size */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  
}

.toggle:hover {
  background-color: #d49329; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.button {
  text-align: center; /* Center the button horizontally */
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

li {
  margin: 5px;   /* Optional: Adds spacing between main items */
}
